# Supabase Configuration
VITE_SUPABASE_URL=https://jekradatbkmyhguavinb.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Impla3JhZGF0YmtteWhndWF2aW5iIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE2MTA4MjgsImV4cCI6MjA4NzE4NjgyOH0.2AJnP7Oo9TD7xx4OO1Pima9Vqow5xdDAl1SZhEsmVFs

VITE_SARVAM_API_KEY=sk_or86vjkz_EyfiFfeI9ggbglH3OF2qjNCt